@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Edification Imminent</h1>
    <img src="https://i.imgur.com/oncPibD.png" alt="Jesus does the Impossible">
</div>
